* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

.mouse-follower{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: aliceblue;
}