* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

html, body {
    height: 100%;
    width: 100%;
}

html{
  background-color: ;
}

.note{
  background-color: #494949;
}