* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}

html, body, #root {
    height: 100%;
    width: 100%;
}

html{
  background-color: #212121;
}


.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.note{
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: rgb(255, 253, 249);
}

.note-create-form{
  height: 1rem;
  width: 2rem;
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}